$navbar-bg: #fff;
$button-bg: #ffa68B;
$main-page-background: radial-gradient(circle, rgba(114,56,68,1) 0%, rgba(123,82,60,1) 100%);
$img-box-shadow: 10px 10px 25px 5px rgba(0,0,0,0.8);

// linear-gradient(180deg, rgba(52,55,63,1) 0%, rgba(0,0,0,1) 100%);
/* linear-gradient(180deg, rgba(135,138,36,1) 0%, rgba(219,218,15,1) 100%); */

$primary-text-color: #fff;
$link-text-color: red;
$link-highlight: 0px 0px 30px 5px rgba(255,11,11,0.8);
$button-border-radius: 5px;

